In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

import env

## acquire & summarize
1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [4]:
url = env.get_db_url("zillow")
query= '''
    SELECT prop.*,
	pred.logerror,
	pred.transactiondate,	
	cons.typeconstructiondesc,
	air.airconditioningdesc,
	arch.architecturalstyledesc,
	build.buildingclassdesc,
	land.propertylandusedesc,		
	story.storydesc
	
FROM properties_2017 prop
	INNER JOIN(SELECT parcelid, logerror, MAX(transactiondate)transactiondate
				  FROM predictions_2017
				  GROUP BY parcelid, logerror) pred
			USING (parcelid)
	LEFT JOIN typeconstructiontype cons USING (typeconstructiontypeid)
	LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
	LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
	LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
	LEFT JOIN propertylandusetype land USING (propertylandusetypeid)
	LEFT JOIN storytype story USING (storytypeid)
WHERE prop.latitude IS NOT NULL
	AND prop.longitude IS NOT NULL
	AND transactiondate LIKE '2017%%';
'''

In [5]:
df = pd.read_sql(query, url)

In [6]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxdelinquencyyear,censustractandblock,logerror,transactiondate,typeconstructiondesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,propertylandusedesc,storydesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,NaN,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,NaN,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,NaN,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,NaN,6.037300e+13,-0.103410,2017-01-01,None,None,None,None,Single Family Residential,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,NaN,6.037124e+13,0.006940,2017-01-01,None,Central,None,None,Condominium,None

In [9]:
df.to_csv("zillow.csv")

#### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77574 entries, 0 to 77573
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77574 non-null  int64
 1   parcelid                      77574 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77574 non-null  float64
 6   bedroomcnt                    77574 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49808 non-null  float64
 9   calculatedbathnbr             76959 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77374 non-null  float64
 13  finishedsquarefeet12          73919 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77574 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76959 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49569 non-null  float64
 25  latitude                      77574 non-null  float64
 26  longitude                     77574 non-null  float64
 27  lotsizesquarefeet             69317 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77574 non-null  object
 34  propertylandusetypeid         77574 non-null  float64
 35  propertyzoningdesc            50474 non-null  object
 36  rawcensustractandblock        77574 non-null  float64
 37  regionidcity                  76102 non-null  float64
 38  regionidcounty                77574 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77524 non-null  float64
 41  roomcnt                       77574 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  typeconstructiondesc          222 non-null    object
 62  airconditioningdesc           25006 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  propertylandusedesc           77574 non-null  object
 66  storydesc                     50 non-null     object
dtypes: float64(55), int64(2), object(10)
memory usage: 39.7+ MB

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,77574.0,1.495340e+06,8.609689e+05,3.490000e+02,7.520875e+05,1.498169e+06,2.240588e+06,2.982274e+06
parcelid,77574.0,1.300630e+07,3.478043e+06,1.071186e+07,1.153819e+07,1.253050e+07,1.421124e+07,1.676893e+08
airconditioningtypeid,25006.0,1.812045e+00,2.965823e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77574.0,2.298521e+00,9.967057e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77574.0,3.053252e+00,1.140447e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
buildingqualitytypeid,49808.0,6.533830e+00,1.722041e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76959.0,2.316389e+00,9.796902e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6035.0,1.366198e+03,6.708036e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77374.0,1.784948e+03,9.542650e+02,1.280000e+02,1.182000e+03,1.542000e+03,2.112000e+03,3.564000e+04
finishedsquarefeet12,73919.0,1.760297e+03,9.343675e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.075000e+03,2.192900e+04
finishedsquarefeet13,42.0,1.388762e+03,1.222209e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3027.0,2.354491e+03,1.186985e+03,5.980000e+02,1.624000e+03,2.088000e+03,2.831000e+03,3.564000e+04
finishedsquarefeet50,6035.0,1.381427e+03,7.259040e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621000e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77574.0,6.048813e+03,2.074540e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8287.0,1.191263e+00,4.910308e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76959.0,2.250107e+00,9.664849e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25517.0,1.815339e+00,5.883289e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25517.0,3.500558e+02,2.616516e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.920000e+02,4.251000e+03
hashottuborspa,1539.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,49569.0,3.921645e+00,3.594814e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,77574.0,3.400837e+07,2.652895e+05,3.333953e+07,3.381463e+07,3.402200e+07,3.417431e+07,3.481877e+07
longitude,77574.0,-1.182037e+08,3.593833e+05,-1.194754e+08,-1.184150e+08,-1.181810e+08,-1.179287e+08,-1.175546e+08
lotsizesquarefeet,69317.0,2.997480e+04,1.233085e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183700e+04,6.971010e+06
poolcnt,16173.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,869.0,5.179310e+02,1.565697e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,465.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15078.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,77574.0,2.618245e+02,5.141733e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
rawcensustractandblock,77574.0,6.049123e+07,2.058777e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,76102.0,3.368228e+04,4.721217e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77574.0,2.534529e+03,8.014524e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30973.0,1.877303e+05,1.650452e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77524.0,9.658668e+04,3.793673e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77574.0,1.476139e+00,2.823613e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,10105.0,1.009599e+00,1.185776e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
unitcnt,50702.0,1.110311e+00,1.169978e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2393.0,3.054609e+02,2.387352e+02,1.100000e+01,1.700000e+02,2.500000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77305.0,1.968611e+03,2.379333e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17596.0,1.434246e+00,5.445184e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77459.0,1.892829e+05,2.304149e+05,4.400000e+01,8.418200e+04,1.364070e+05,2.187340e+05,1.142179e+07
taxvaluedollarcnt,77573.0,4.901477e+05,6.538059e+05,1.000000e+03,2.068980e+05,3.588790e+05,5.690000e+05,4.906124e+07
assessmentyear,77574.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77572.0,3.011468e+05,4.927317e+05,1.610000e+02,8.529200e+04,2.031810e+05,3.667610e+05,4.895220e+07
taxamount,77569.0,5.995856e+03,7.628912e+03,1.992000e+01,2.712610e+03,4.448300e+03,6.926820e+03,5.866393e+05
taxdelinquencyyear,2900.0,1.408828e+01,2.181281e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77327.0,6.049666e+13,1.533386e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
logerror,77574.0,1.680476e-02,1.707421e-01,-4.655420e+00,-2.430958e-02,6.673273e-03,3.929169e-02,5.262999e+00

In [10]:
df.shape

(77574, 67)

In [14]:
df.isnull().sum()

id                              0
parcelid                        0
airconditioningtypeid       52568
architecturalstyletypeid    77368
basementsqft                77524
                            ...
airconditioningdesc         52568
architecturalstyledesc      77368
buildingclassdesc           77559
propertylandusedesc             0
storydesc                   77524
Length: 67, dtype: int64

##### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.


||num_rows_missing	|pct_rows_missing|
|---|---|---|
|parcelid|	0	|0.000000|
|airconditioningtypeid|	29041 |	0.535486|
|architecturalstyletypeid|	54232 |	0.999982|

In [19]:
num_rows_missing = df.isnull().sum()
df_null

id                              0
parcelid                        0
airconditioningtypeid       52568
architecturalstyletypeid    77368
basementsqft                77524
                            ...
airconditioningdesc         52568
architecturalstyledesc      77368
buildingclassdesc           77559
propertylandusedesc             0
storydesc                   77524
Length: 67, dtype: int64

In [20]:
num_rows = df.shape[0]
num_rows

77574

In [22]:
# Calculate percent 
pct_rows_missing = num_rows_missing/num_rows
pct_rows_missing

id                          0.000000
parcelid                    0.000000
airconditioningtypeid       0.677650
architecturalstyletypeid    0.997344
basementsqft                0.999355
                              ...
airconditioningdesc         0.677650
architecturalstyledesc      0.997344
buildingclassdesc           0.999807
propertylandusedesc         0.000000
storydesc                   0.999355
Length: 67, dtype: float64

In [23]:
# Make dataframe
pd.DataFrame({'number_missing_rows': num_rows_missing, 'percent_rows_missing': pct_rows_missing})

                          number_missing_rows  percent_rows_missing
id                                          0              0.000000
parcelid                                    0              0.000000
airconditioningtypeid                   52568              0.677650
architecturalstyletypeid                77368              0.997344
basementsqft                            77524              0.999355
...                                       ...                   ...
airconditioningdesc                     52568              0.677650
architecturalstyledesc                  77368              0.997344
buildingclassdesc                       77559              0.999807
propertylandusedesc                         0              0.000000
storydesc                               77524              0.999355

[67 rows x 2 columns]

In [24]:
def nulls_by_col(df):
    num_rows_missing = df.isnull().sum()
    pct_rows_missing = num_rows_missing/num_rows
    df_missing = pd.DataFrame({'number_missing_rows': num_rows_missing, 'percent_rows_missing': pct_rows_missing})
    return df_missing

In [26]:
nulls_by_col(df)

                          number_missing_rows  percent_rows_missing
id                                          0              0.000000
parcelid                                    0              0.000000
airconditioningtypeid                   52568              0.677650
architecturalstyletypeid                77368              0.997344
basementsqft                            77524              0.999355
...                                       ...                   ...
airconditioningdesc                     52568              0.677650
architecturalstyledesc                  77368              0.997344
buildingclassdesc                       77559              0.999807
propertylandusedesc                         0              0.000000
storydesc                               77524              0.999355

[67 rows x 2 columns]

## Prepare

 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

 - The input:
      - A datafram:
      - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing):
      - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).

 - The output:
      - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

 - hint:
      - Look up the dropna documentation:
      - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns:
      - Make use of inplace, i.e. inplace=True/False.

 3. Decide how to handle the remaining missing values:

 - Fill with constant value.
 - Impute with mean, median, mode.
 - Drop row/column

### wrangle_zillow.py
Functions of the work above needed to acquire and prepare a new sample of data.

## Mall Customers

### notebook
1. Acquire data from mall_customers.customers in mysql database.
2. Summarize data (include distributions and descriptive statistics).
3. Detect outliers using IQR.
4. Split data (train, validate, and test split).
5. Encode categorical columns using a one hot encoder (pd.get_dummies).
6. Handles missing values.
7. Scaling

### wrangle_mall.py
1. Acquire data from mall_customers.customers in mysql database.
2. Split the data into train, validate, and split
3. One-hot-encoding (pd.get_dummies)
4. Missing values
5. Scaling
Add, commit, and push all of your work.